{% extends "base.html" %}

{% block content %}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:anupal@anupal.com">
                    anupal [at] anupal.com
                </a>
            </dd>
        </div>
    </dl>
    <dl>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/Anupal">
                    @Anupal
                </a>
            </dd>
        </div>
    </dl>
    <dl>
        <div class="contact">
            <dt>Twitter:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://twitter.com/AnupalMishra">
                    @AnupalMishra
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}